<div class="container">
  <br>
  <img src="/assets/Logo.png">
  <br>
   <div class="row">

     <h3 class='mainLeft'>Requests</h3>
     <a href="/requests" class='mainRight'>See all >></a>

     <div class="col s3 m3">
       <div class="card hoverable">
         <a href="/"><span class='div-link'></span></a>
         <div class="card-image">
           <img src="/assets/teamwork.jpg">
          </div>
          <div class="card-content">
            <h5>Entertain Elderly</h5>
            <p>13 September 2017</p>
            <p>9 AM to 5PM</p>
            <p>Tiong Bahru</p>
          </div>
          <div class="card-action">
            <p>3 Openings</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card hoverable">
          <a href="/"><span class='div-link'></span></a>
          <div class="card-image">
            <img src="/assets/teamwork.jpg">
          </div>
          <div class="card-content">
            <h5>Entertain Elderly</h5>
            <p>13 September 2017</p>
            <p>9 AM to 5PM</p>
            <p>Tiong Bahru</p>
          </div>
          <div class="card-action">
            <p>7 Openings</p>
          </div>
        </div>
      </div>
    <div class="col s3 m3">
      <div class="card hoverable">
        <a href="/"><span class='div-link'></span></a>
        <div class="card-image">
          <img src="/assets/teamwork.jpg">
        </div>
        <div class="card-content">
          <h5>Entertain Elderly</h5>
          <p>13 September 2017</p>
          <p>9 AM to 5PM</p>
          <p>Tiong Bahru</p>
        </div>
        <div class="card-action">
          <p>3 Openings</p>
        </div>
      </div>
    </div>
    <div class="col s3 m3">
      <div class="card hoverable">
        <a href="/"><span class='div-link'></span></a>
        <div class="card-image">
          <img src="/assets/teamwork.jpg">
        </div>
        <div class="card-content">
          <h5>Entertain Elderly</h5>
          <p>13 September 2017</p>
          <p>9 AM to 5PM</p>
          <p>Tiong Bahru</p>
        </div>
        <div class="card-action">
          <p>10 Openings</p>
        </div>
      </div>
    </div>
    <br><br>
    <h3 class='mainLeft'>Rewards</h3>
    <a href="/rewards" class='mainRight'>See all >></a>

    <div class="col s3 m3">
      <div class="card hoverable">
        <a href="/"><span class='div-link'></span></a>
        <div class="card-image">
          <img src="/assets/teamwork.jpg">
         </div>
         <div class="card-content">
           <h5>Entertain Elderly</h5>
           <p>13 September 2017</p>
           <p>9 AM to 5PM</p>
           <p>Tiong Bahru</p>
         </div>
         <div class="card-action">
           <p>3 Openings</p>
         </div>
       </div>
     </div>
     <div class="col s3 m3">
       <div class="card hoverable">
         <a href="/"><span class='div-link'></span></a>
         <div class="card-image">
           <img src="/assets/teamwork.jpg">
         </div>
         <div class="card-content">
           <h5>Entertain Elderly</h5>
           <p>13 September 2017</p>
           <p>9 AM to 5PM</p>
           <p>Tiong Bahru</p>
         </div>
         <div class="card-action">
           <p>3 Openings</p>
         </div>
       </div>
     </div>
   <div class="col s3 m3">
     <div class="card hoverable">
       <a href="/"><span class='div-link'></span></a>
       <div class="card-image">
         <img src="/assets/teamwork.jpg">
       </div>
       <div class="card-content">
         <h5>Entertain Elderly</h5>
         <p>13 September 2017</p>
         <p>9 AM to 5PM</p>
         <p>Tiong Bahru</p>
       </div>
       <div class="card-action">
         <p>3 Openings</p>
       </div>
     </div>
   </div>
   <div class="col s3 m3">
     <div class="card hoverable">
       <a href="/"><span class='div-link'></span></a>
       <div class="card-image">
         <img src="/assets/teamwork.jpg">
       </div>
       <div class="card-content">
         <h5>Entertain Elderly</h5>
         <p>13 September 2017</p>
         <p>9 AM to 5PM</p>
         <p>Tiong Bahru</p>
       </div>
       <div class="card-action">
         <p>3 Openings</p>
       </div>
     </div>
   </div>

   </div>
 </div>
