<footer class='page-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col l6 s12'>
        <h5 class='white-text'>Contact</h5>
        <div class='foot'>
          <ul>
            <li>
              <i class='small material-icons'>location_on</i>
              <p>8 Claymore Hill</p>
            </li>
            <li>
              <i class='small material-icons'>email</i>
              <p>admin@giftloop.com</p>
            </li>
          </ul>
        </div>
      </div>
      <div class='col l4 s12'>
        <h5 class='white-text'>Our Team</h5>
        <ul>
          <li>
            <a class='grey-text text-lighten-3' href='https://github.com/king-of-flab'>Nawas</a>
          </li>
          <li>
            <a class='grey-text text-lighten-3' href='https://github.com/ddanielnp'>Daniel</a>
          </li>
          <li>
            <a class='grey-text text-lighten-3' href='https://github.com/dreamz89'>Jocelyn</a>
          </li>
          <li>
            <a class='grey-text text-lighten-3' href='https://github.com/shumin13'>Shumin</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='footer-copyright'>
    <div class='container'>
      @2017 General Assembly WDI 11
    </div>
  </div>
</footer>
