@import "materialize/components/color";

// change navbar color
.nav-wrapper {
  background-color: #46BFD2 !important;
}

// keep navbar logo size consistent
.logo-img img{
    max-height: 35px!important;
    margin-top: 15px;
    margin-bottom: -15px;
}

// change footer color
.page-footer {
  background-color: #308693 !important;
}

// change container default from 70% to 80%
.container {
  margin: 0 auto !important;
  max-width: 1280px !important;
  width: 80% !important;
}

// align icons and text next to each other in the footer
.foot ul {
  margin-left: -15px;
}
.foot ul li {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 16px;
  display: flex;
}
.foot ul li i {
  margin-right: 10px;
}
.foot ul li p {
  margin: 0;
}

// change card color on hover
.card:hover {
  background-color: #ECF1F3
}

// adjust contents inside card
.card-image, .card-content, .card-action {
  padding: 10px !important;
}

.card-content h5{
  text-align: center
}

.card-content p {
  text-align: center;
  font-size: 15px
}

.card-action p {
  text-align: center;
  margin: 10px !important;
  font-size: 15px
}

// Make the whole card into a clickable link
.card {
  position:relative
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.logo {
  position: relative;
  display: block;
  margin: 0 auto
}

.slides img {
  height: 450px
}

// Put Req/Rew left and SeeAll right
.mainLeft {
  display: inline-block;
  text-align: left
}

.mainRight {
  display: inline-block;
  text-align: right;
  font-size: 18px;
  width:780px
}

.formtemplate {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding-bottom: 100px;
}

.formbttn {
  margin-bottom: 40px;
}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";
